<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2012 Tirasa

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:configurator="http://cocoon.apache.org/schema/configurator"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd
                           http://cocoon.apache.org/schema/configurator
                           http://cocoon.apache.org/schema/configurator/cocoon-configurator-1.0.1.xsd">

  <!-- Activate Cocoon Spring Configurator -->
  <configurator:settings>
    <configurator:property name="org.apache.cocoon.reloading.sitemap" value="true"/>
    <configurator:property name="org.apache.cocoon.containerencoding" value="UTF-8"/>
    <configurator:property name="org.apache.cocoon.exception.ProcessingException.unroll" value="true"/>
    <configurator:property name="net.tirasa.hct.defaultLocale" value="en"/>
  </configurator:settings>
    
  <!-- Using classpath: resources -->
  <bean class="net.tirasa.hct.cocoon.internal.ClasspathURLStreamHandlerFactory"/>

</beans>
